:root {
  --Primary-Brand-color: #4d5ae5;
  --Pressed-state-color: #404bbf;
  --Dark-color: #2e2f42;
  --Success-color: #31d0aa;
  --Text-color: #434455;
  --Subtle-Text-color: #8e8f99;
  --Accent-color: #e7e9fc;
  --Light-color: #f4f4fd;
  --Modal-overlay-color: #rgba(46, 47, 66, 0.4);
  --Hero-background-color: #rgba(46, 47, 66, 0.7);
  --White-background-color: #ffffff;
  --Modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--Text-color);
  background-color: var(--White-background-color);
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
/* !------------------HEADER------------------ */

.header {
}
.header-navigation {
}
.header-logo {
  font-family: Raleway, sans-serif;
  color: var(--Primary-Brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-span {
  color: var(--Dark-color);
}
.header-menu-list {
  color: var(--Dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  font-style: normal;
}
.header-menu-list:hover,
.header-menu-list:focus {
  color: var(--Pressed-state-color);
}
.header-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address:hover,
.header-address:focus {
  color: var(--Pressed-state-color);
}

/* !------------------FOOTER------------------ */

.footer {
  background-color: var(--Dark-color);
}
.footer-logo {
  font-family: Raleway, sans-serif;
  color: var(--Primary-Brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-span {
  color: var(--Light-color);
}
.footer-text {
  color: var(--Light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ?------------------INDEX-PAGE------------------ */

/* !------------------HERO------------------ */

.hero {
  background-color: var(--Dark-color);
}
.hero-title {
  color: var(--White-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-btn {
  font-family: inherit;
  color: var(--White-background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--Primary-Brand-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--Pressed-state-color);
}

/* !------------------SECTION 1------------------ */

.advantages {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-subtitle {
  color: var(--Dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* !------------------SECTION 2------------------ */

.doing-section {
}
.section-title {
  color: var(--Dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.doing-list {
}
.doing-item {
}

/* !------------------SECTION 3------------------ */

.team-section {
  background: var(--Light-color);
}
.team-list {
}
.team-list-item {
  background: var(--White-background-color);
}
.team-subtitle {
  color: var(--Dark-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ?------------------PORTFOLIO-PAGE------------------ */

/* !------------------PROJECTS SECTION------------------ */

.projects-section {
}
.filters-list {
}
.filters-btn {
  font-family: inherit;
  color: var(--Primary-Brand-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--Light-color);
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--White-background-color);
  background-color: var(--Pressed-state-color);
}
.projects-list {
}
.projects-list-item {
}
.projects-item-link {
}
.projects-item-subtitle {
  color: var(--Dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.projects-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
